@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #e6e6e6;
	border-radius: 5px;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// 	background: $d-blue; 
// }

html {
	box-sizing: border-box;
	font-size: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}


.search-form{
	.input-group{
		width: 400px;

	}

	input{
		border:none;
		background-color: #f8f9fc;
		&:focus{
			box-shadow: none;
			background-color: #f8f9fc;
		}
	}
}

.notification-block{
	border-right: 1px solid #e3e6f0;
	padding-left: 1.2em;
	padding-right: 1.2em;
	margin-right: .8em;
	.notification{
		position: relative;
		color: #d1d3e2;

		&:hover{
			color: #b7b9cc;
		}
	
		.badge{
			position: absolute;
			top: .5em;
			right: .5em;
			font-size: 8px;
			font-weight: 400;
		}
	}
}

.profile{
	.drpdwnBtn{
		&:focus{
			box-shadow: none;
		}
	}

	.dropdown-menu{
		padding: 0;
	}
}


.breadcrumb {
	.breadcrumb-item {
		font-size: 14px;
		font-weight: 400;

		&.active {
			color: #146cda;
		}
	}
	a {
		text-decoration: none;
		color: #47494a;
		transition: all 300ms ease-in-out;

		&:hover {
			color: #146cda;
		}
	}
}


.poundsProf{
	// &::after{
	// 	content: '|';
	// 	display: inline-block;
	// 	margin: 0 .5em;
	// }

	&::before{
		content: '£';
		display: inline-block; 
	}
}

.percentProf{
	&::after{
		content: '%';
		display: inline-block;
	}
}


.images-preview{
	img{
		width: 100%;
		max-width: 50px;
		height: auto;
	}
}


.modal{
	.card-title{
		margin-bottom: 1em;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}
}


.data-tables{

	input[type="search"]{
		font-size: 16px;
	}

	select{
		font-size: 16px;
		padding: 0 .5em;
		text-align: center;
	}
	
	.row{
		&:nth-child(1){
			margin-bottom: .5em;

			input[type='search']{
				&:focus{
					box-shadow: none;
				}
			}
		}

		&:nth-child(2){
			margin-bottom: .5em;
		}
	}
	.stores-table{
		thead{
			font-size: 15px;
			
		}

		tbody{
			font-size: 14px;

			td{
				padding-top: 1em;
				padding-bottom: 1em;

				a{
					display: inline-block;
					padding: 1px;
				}

				img{
					width: 100%;
					max-width: 100px;
					height: auto;
				}
			}
		}
	}

	table{
		text-align: center;
		td{
			vertical-align:middle;
			input{
				max-width: 80px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			a{
				text-decoration: none;
				color: unset;
				transition: $ease-in-out-1;
				display: inline-block;
				font-size: 16px;
	
				// &:not(:last-child){
				//     margin-right: .1em;
				// }
	
				&:hover{
					color: $l-blue;
				}
			}
		}
	}
}

.shipping-blocks{
	a{
		text-decoration: none;
		color: unset;
		transition: $ease-in-out-1;
		display: inline-block;
		font-size: 16px;

		&:not(:last-child){
		    margin-right: .3em;
		}

		&:hover{
			color: $l-blue;
		}
	}
}

