.side-nav{
    background-color: $l-blue;
    color: $white;
    width: 300px;
    overflow-y: auto;
    height: 100vh;

    // @media (min-width: 1200px){
	// 	height: 100vh;
        
	// }

    .company-logo{
        width: 50px;
        margin-bottom: .5em;
    }

    h2{
        text-align: center;
        font-weight: 700;
        font-size: 26px;
    }
    

    .nav-link{
        color: white;
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
        transition: $ease-in-out-1;
        transform: rotate(0deg);
        padding-left: 0;

        &.opened .icofont-thin-down{
            transform: rotate(180deg);
        }



        &:hover, &.active{
            color: rgba(255, 255, 255, 1);
            // padding-left: 1em;
        }
        i{
            pointer-events: none;


        }
        &.home{
            // font-size: 1px;
            font-weight: 700;
        }

    }

    .sub-menu{
        .card{
            border: none;
            

            .nav-link{
                color: $vd-grey;
                transition: $ease-in-out-1;
                border-radius: 5px;
                margin-bottom: .2em;

                &:hover, &.active{
                    background-color: $off-white;
                }
            }
        }
    }


}

.main-section{
    height: 100vh;
    overflow-y: auto;
    .main-section-container{
        .breadcrumb{
            margin-bottom: .5em;
            margin-top: .5em;
        }

        h1{
            color: #5a5c69;
            font-weight: 400;
            font-size: 33.6px;
            margin-bottom: 0;
        }

        .cta-btn{
            background-color: $l-blue;
            color: white;
            text-transform: capitalize;
            padding: .5em 1em;
            border: 1px solid $l-blue;
            transition: $ease-in-out-1;

            &:hover{
                background-color: $d-blue;
                border: 1px solid $d-blue;
            }
        }

        .overview{
            .card{
                border-radius: 5px;
                .card-title{
                    margin-bottom: .1em;
                }

                .stat{
                    color: #5a5c69;
                }

                &.card-1{
                    border-left: 4px solid $violet;

                    .card-title{
                        color: $violet;
                    }
                }

                &.card-2{
                    border-left: 4px solid $green;

                    .card-title{
                        color: $green;
                    }
                }

                &.card-3{
                    border-left: 4px solid $lime;

                    .card-title{
                        color: $lime;
                    }
                }

                &.card-4{
                    border-left: 4px solid $gold;

                    .card-title{
                        color: $gold;
                    }
                }

                &.card-5{
                    border-left: 4px solid $red;

                    .card-title{
                        color: $red;
                    }
                }

                &.card-6{
                    border-left: 4px solid $purple;

                    .card-title{
                        color: $purple;
                    }
                }

                &.card-7{
                    border-left: 4px solid $pink;

                    .card-title{
                        color: $pink;
                    }
                }

                &.card-8{
                    border-left: 4px solid $brown;

                    .card-title{
                        color: $brown;
                    }
                }
            }
            .right{
                display: flex;
                align-items: center;
                i{
                    font-size: 37px;
                    color: #dddfeb;
                    font-weight: 900;
                }
            }
        }

        
    }
}

#viewOrderModal{
    .action-block{
        button{
            font-size: 14px;

            &:not(:last-child){
                margin-right: .4em;
            }
        }
    }

    .delivery-address{
        button{
            font-size: 14px;

            &:focus{
                box-shadow: none;
            }
        }
    }
    
}