$l-blue: #4a6fdc;
$d-blue: #3457bb;
$l-grey: #f8f9fc;
$white: #ffffff;
$vd-grey: #3a3b45;
$off-white: #eaecf4;
$violet: #597be1;
$green: #1cc88a;
$lime: #36b9cc;
$gold: #f6c23e;
$red: #ec1c24;
$purple: #b83dba;
$pink: #ffaec8;
$brown: #b97a56;


$ease-in-out-1: all 300ms ease-in-out;
